.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: var(--sans);
}

.navbar.light, .navbar.system {
    background-color: var(--lightgrey);
}

.navbar.dark {
    background-color: var(--darkgrey);
}

h2.title {
  margin-left: 35px;
  font-family: var(--serif);
}

details {
  font-size: var(--small);
  position: relative;
  padding-right: 40px;
}

@media(min-width: 700px) {
    details
    {
        margin-right: 80px;
    }
}

@media(min-width: 1200px) {
    details
    {
        margin-right: 200px;
    }
}

.option-menu {
  list-style: none;
  position: absolute;
  display: inline;
  /* unset default padding */
  padding-left: 0;
}

button {
    /* Unset default button styling */
  background-color: inherit;
  color: inherit;
  border: none;
  font: inherit;
  text-align: left;
  padding: 0;
  height: 100%;
  width: 100%;
}


ul {
    width: max-content;
    padding-right: 7px;
    border-radius: var(--radius);
}

.light ul, .system ul {
    background-color: var(--lightgrey);
}

.dark ul {
    background-color: var(--darkgrey);
}

.light li:hover, .system li:hover {
    background-color: var(--light-highlight);
}

.dark li:hover {
    background-color: var(--dark-highlight);
}

li {
    width: 100%;
    padding: 5px;
}

li:first-of-type {
    border-radius: var(--radius) var(--radius) 0 0;
}

li:last-of-type {
    border-radius: 0 0 var(--radius) var(--radius);
}

@media(prefers-color-scheme: dark) {
    .navbar.system {
        background-color: var(--darkgrey);
    }
    .system ul {
        background-color: var(--darkgrey);
    }
    .system li:hover {
    background-color: var(--dark-highlight);
}
}

