.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 2px solid red;
}

details {
  font-size: 12px;
}

.option-menu {
  list-style: none;
  position: fixed;
  display: inline;
}
