html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {
    --bg-light: #e0e0e0;
    --bg-dark: #212121;
    --text-light: #d8d8d8;
    --text-dark: #181818;
    --blue: #6a9fb5;
    --lightblue: #82b8c8;
    --darkblue: #456877;
    --cyan: #4d7770;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-light);
}

.wrapper {
    margin-top: 3rem;
    padding: 2rem;
    margin-left: 1rem;
    max-width: 800px;
    font-size: 16px;
}

a {
    color: var(--lightblue);
}

p {
    margin-bottom: 3rem;
}
